body {
    background-image: url("./newburgerback.jpg");
    background-attachment: fixed;
    background-size: 100%;
}

.jumbotron {
    background-image: url("./burgerimage.jpg");
    background-size: 100%;
    background-position: center;
}

.thecards {
    opacity: 0.7;
}